<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This handler tells IIS to forward requests to the Node.js runtime -->
      <add name="NodeHandler" path="*" verb="*" modules="IsapiModule" 
           scriptProcessor="C:\Program Files\nodejs\node.exe" 
           resourceType="Unspecified" />
    </handlers>

    <rewrite>
      <!-- This rule rewrites the incoming request to your Node.js server -->
      <rules>
        <rule name="Node.js" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:{PORT}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
